$component-spacing-default: 15px;
$gray-400: #ededed;

// HTML

// force vertical scrollbar to prevent screen resizing
html {
  overflow-y: scroll;
}

// PAGE CONTAINER
// --------------------------------------------------

.page-container {
  padding: 5px 30px;
}

// PAGE PANEL
// --------------------------------------------------

.page-panel {
  padding: $component-spacing-default;
  border: 1px solid $gray-400;
  border-radius: 3px;
  background-color: #fff;
}

.page-panel-title {
  font-size: 21px;
}


.page-panel ~ .page-panel {
  margin-top: 15px;
}
