$gray-500: #e2e2e2 !default;
$hbr-blue-600 : #0065a8 !default;
$hbr-header-border-color: $gray-500;
$gray-50: #fcfcfc !default;
$gray-600: #c8c8c8 !default;
$gray-700: #9e9e9e !default;
$hbr-blue: #3f99d4 !default;

.top-header {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;

  border-top: 4px solid $hbr-blue-600;
  border-bottom: 1px solid $hbr-header-border-color;
  background-color: $gray-50;
  color: $gray-600;

  .btn:hover {
    color: $gray-700;
  }
  .btn.active {
    color: $hbr-blue;
  }

  .btn-apps {
    padding: 0 10px;
  }

  .top-header-logo {
    margin-left: 20px;
  }

}

.top-header-left {
  display: flex;
  align-items: center;
}

.top-header-right {
  padding-right: 15px;
}


.top-header-logo {
  margin-left: 20px;

  img {
    height: 25px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 26px;
    }
    @supports (-ms-accelerator:true) {
      height: 26px;
    }
  }
}
